.jfx-dialog-layout {
    -fx-padding: 24px 24px 16px 24px;
    -fx-text-fill: rgba(0.0, 0.0, 0.0, 0.87);
}

.jfx-layout-heading {
    -fx-font-size: 20px;
    -fx-font-weight: BOLD;
    -fx-alignment: center-left;
    -fx-padding: 5.0 0.0 5.0 0.0;
}

.jfx-layout-body .label {
    -fx-font-size: 14px;
    -fx-pref-width: 400px;
    -fx-wrap-text: true;
}