#devices {
    -fx-background-color: #ffffff;
}

.scroll-pane {
    -fx-background-color: #ffffff;
}

.jfx-layout-heading {
    -fx-font-size: 20px;
    -fx-font-weight: BOLD;
    -fx-alignment: center-left;
    -fx-padding: 5.0 0.0 5.0 0.0;
}

.jfx-layout-body .label {
    -fx-font-size: 14px;
    -fx-pref-width: 400px;
    -fx-wrap-text: true;
}

.spk .list-cell:even {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.list-view .list-cell:odd {
    -fx-background-color: white;
    -fx-text-fill: black;
}