.grid-pane {
    -fx-background-color: #607D8B;
}

.stackpane {
    -fx-background-color: #607D8B;
    -fx-text-fill: #ffffff;
}

.label {
    -fx-background-color: #607D8B;
    -fx-text-fill: #ffffff;
}

#iconTwo {
    -glyph-name: "ARCHIVE";
    -fx-fill: #FFFFFF;
}

#state {
    -fx-background-color: #03A9F4;
    -fx-text-fill: #000000;
}