.grid-pane {
    -fx-background-color: #607D8B;
}

#nameLabel {
    -fx-background-color: #03A9F4;
    -fx-text-fill: #000000;
}

.stackpane {
    -fx-background-color: #607D8B;
    -fx-text-fill: #ffffff;
}

.label {
    -fx-background-color: #607D8B;
    -fx-text-fill: #ffffff;
}

#iconOne {
    -glyph-name: "ANDROID";
    -fx-fill: #FFFFFF;
}

#iconTwo {
    -glyph-name: "TELEVISION";
    -fx-fill: #FFFFFF;
}

#iconThree {
    -glyph-name: "USB";
    -fx-fill: #FFFFFF;
}

.hiden {
    -fx-background-color: rgba(96, 125, 139, 0.7);
}

#identified {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-text-fill: #ffffff;
}

#pingOk {
    -fx-text-fill: #FFFFFF;
}